@import "styles/vars.scss";

.elyaCatalogWrapper {
  padding: 10px;
  /*containter-fluid row */.catalog-title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: $richFont;
  }
}