@import "vars.scss";

.elyaCatalogWrapper {
  padding: 10px;
  .container-fluid { // товары располагаются в адаптивной сетке boostrap'a
    .row {
      .catalog-title {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 1rem;
        font-family: $richFont;
      }
    }
  }
}