/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
/* line 15, ../sass/screen.scss */
.SuperWrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  /*font-family: arial, Helvetica, sans-serif;*/
  /*font-family: Tahoma, Geneva, sans-serif;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #9cb893;
}
/* line 28, ../sass/screen.scss */
.SuperWrapper p {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  line-height: 20px;
}
/* line 33, ../sass/screen.scss */
.SuperWrapper h1 {
  /*padding: 5px 0px 15px 0px;*/
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  /*letter-spacing: -1px;*/
}
/* line 45, ../sass/screen.scss */
.SuperWrapper a {
  font-weight: bold;
  text-decoration: underline;
  color: #003366;
}
/* line 49, ../sass/screen.scss */
.SuperWrapper a :hover {
  text-decoration: none;
}
/* line 54, ../sass/screen.scss */
.SuperHeader {
  width: 800px;
  height: 400px;
  background-image: url("../img/title.jpg");
  background-size: cover;
}
/* line 59, ../sass/screen.scss */
.SuperHeaderLogo {
  padding: 25px 0px 83px 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: bold;
  margin: 0px;
  /*color: #404d3a;*/
  color: rgba(8, 13, 8, 0.85);
}
/* line 70, ../sass/screen.scss */
.SuperHeaderMenu {
  margin: 0px;
}
/* line 72, ../sass/screen.scss */
.SuperHeaderMenu ul.navi {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  width: 800px;
  text-align: center;
  position: relative;
}
/* line 78, ../sass/screen.scss */
.SuperHeaderMenu ul.navi li {
  height: 22px;
  padding: 0 10px 0 10px;
  margin: 0px;
  display: inline;
}
/* line 83, ../sass/screen.scss */
.SuperHeaderMenu ul.navi li a {
  padding: 0px 8px 0px 8px;
  font: 18px arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-indent: 0px;
  font-weight: bold;
  margin: 0;
  width: inherit;
  letter-spacing: -1px;
  line-height: 30px;
}
/* line 94, ../sass/screen.scss */
.SuperHeaderMenu ul.navi li a :hover {
  color: #FFCC00;
}
/* line 102, ../sass/screen.scss */
.SuperContents {
  width: 800px;
  /*background-image: url('https://www.superauctiontemplate.com/freebaytemplate/productimages/GeneralShopping11/HTML/images/ContentsTop.jpg');*/
  background-repeat: no-repeat;
  background-color: #16311e;
}
/* line 107, ../sass/screen.scss */
.SuperContentsWrapper {
  width: 800px;
  /*background-image: url('https://www.superauctiontemplate.com/freebaytemplate/productimages/GeneralShopping11/HTML/images/Contents.jpg');*/
  background-color: #16311e;
}
/* line 112, ../sass/screen.scss */
.SuperContentsSub {
  padding: 30px 40px 0px 40px;
  /*background-color: $mainBackColor;*/
}
/* line 115, ../sass/screen.scss */
.SuperContentsSub .WelcomeLabel {
  margin-top: 60px;
}
/* line 119, ../sass/screen.scss */
.SuperContentsSub ul, .SuperContentsSub ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 124, ../sass/screen.scss */
.SuperContentsSub ul li {
  float: left;
  box-sizing: border-box;
  padding: 3px;
  width: 50%;
  height: 560px;
}
/* line 130, ../sass/screen.scss */
.SuperContentsSub ul li div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 141, ../sass/screen.scss */
.SuperContentsBoxContents {
  padding: 0px 80px 0px 80px;
  margin: 0px;
}
/* line 144, ../sass/screen.scss */
.SuperContentsBoxContents p {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  line-height: 20px;
}
/* line 149, ../sass/screen.scss */
.SuperContentsBoxContents ul {
  padding: 0px 0px 0px 28px;
  margin: 0px;
  list-style-type: disc;
}
/* line 154, ../sass/screen.scss */
.SuperContentsBoxContents li {
  line-height: 20px;
}
/* line 160, ../sass/screen.scss */
.SuperPaymentShippingEtc, .SuperPaymentShippingEtcTop, .SuperPaymentShippingEtcContents, .SuperPaymentShippingEtcBottom {
  width: 800px;
}
/* line 163, ../sass/screen.scss */
.SuperPaymentShippingEtcTop {
  box-sizing: border-box;
  height: 83px;
  background-image: url("https://c.radikal.ru/c07/1907/27/a8ca8e6b5794.png");
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  color: #a1c191;
}
/* line 175, ../sass/screen.scss */
.SuperPaymentShippingEtcContents {
  background-color: #16311e;
  font-size: 20px;
  text-align: center;
}
/* line 180, ../sass/screen.scss */
.SuperPaymentShippingEtcBottom {
  height: 53px;
  background-color: #16311e;
}
