/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
/* line 10, ../sass/screen.scss */
.elya {
  font-family: 'Open Sans', sans-serif;
}
/* line 12, ../sass/screen.scss */
.elya .title {
  background-color: #f5d85c;
  height: 800px;
}
/* line 16, ../sass/screen.scss */
.elya .info {
  background-color: #b5f571;
  height: 800px;
}
/* line 20, ../sass/screen.scss */
.elya .feedbacks {
  background-color: #f59f78;
  height: 800px;
}
